body {
  font-family: 'Exo 2';
  color: #333;
  padding: 20px 0 40px 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: block;
}

a {
color: #4d4d4d;
    display: inline-block;
    padding: 0 10px;
    line-height: 30px;
    background: #a3d1d7;
    text-decoration: none;
    font-weight: bold;
}

h3 {
	border-bottom: solid 1px #333;
	margin: 0;
	padding: 0 10px 10px 10px;
}

.pos {
	color: green;
}
.neg {
	color: red;
}
#cryptos li div i{
	display: none;
	animation: blink 1s infinite;
	margin-left: 5px;
}
#cryptos li div i.fa-arrow-up{
	color: green;
}
#cryptos li div i.fa-arrow-down{
	color: red;
}
#cryptos li div:nth-child(1) label{
	font-weight: bold;
}
#cryptos li div:nth-child(1) span{
	font-weight: bold;
	font-size: 24px;
}
#cryptos li.pos-dinamics1 div:nth-last-child(1) i.fa-arrow-up{
	display: inline-block;
}
#cryptos li.neg-dinamics1 div:nth-last-child(1) i.fa-arrow-down{
	display: inline-block;
}
#cryptos li.pos-dinamics2 div:nth-last-child(2) i.fa-arrow-up{
	display: inline-block;
}
#cryptos li.neg-dinamics2 div:nth-last-child(2) i.fa-arrow-down{
	display: inline-block;
}
#cryptos li.pos-dinamics3 div:nth-last-child(3) i.fa-arrow-up{
	display: inline-block;
}
#cryptos li.neg-dinamics3 div:nth-last-child(3) i.fa-arrow-down{
	display: inline-block;
}
#cryptos li div label{
	display: inline-block;
	width: 200px;
	font-weight: 500;
}
#cryptos li {
	font-size: 18px;
	line-height: 30px;
	display: block;
	width: 50%;
	padding: 10px;
	border-bottom: dotted 1px #333;
}
#cryptos li:nth-child(2n-1) {
	border-right: dotted 1px #333;
}
#cryptos {
	display: flex;
	flex-wrap: wrap;
}

#amounts li input{
  width: 80px;
  text-align: center;
}

#total {
  width: 80px;
  text-align: center;
}

.but,
#amounts li{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 200px;
}
#amounts {
  position: fixed;
  left: 0;
  z-index: 1;
  background: #eeeeee;
  box-shadow: 1px 0px 5px 0px #c4c4c4;
  padding: 20px 20px 10px 20px;
}
@keyframes blink {
	0% {opacity: 0}
	49%{opacity: 0}
	50% {opacity: 1}
}
#showcalc{
  display: none;
}
@media screen and (max-width: 1000px) {
  #showcalc{
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-appearance: none;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background: #66ac83;
    border: 0;
    width: 100%;
    padding: 0;
    font-size: 18px;
    cursor: pointer;
  }
  #amounts {
    transition: left 0.3s ease-in-out;
    left: -250px;
  }
  #amounts.open {
    left: 0;
  }
	#cryptos li {
		width: 100%;
		border-right: 0 !important;
		font-size: 14px;
	}
	#cryptos li div label{
		display: inline-block;
		width: 120px;
		font-weight: 500;
	}
}